nav a{  text-transform: uppercase;
    font:medium;
    padding: 5%;
    font-weight: 300;
    font-size: 100%;
    color: pink;
    text-decoration: none ;

      }
nav a hover {
    color: purple;
    text-decoration: underline;
}

}
header {text-align:center;
    font-family:impact;
    background-color: #51cc9076;
    border-color: #51cc9076;
    border-style:solid;
    border-radius: 80px 80px 80px 80px;}


.imagem1 {
  width: 40%
}

.centralizar {
        list-style-type: none;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  border-color: rgb(255, 170, 195);
  border-width: 30px;
  border-style: solid;
  backgound-color: rgb(255, 148, 166);
}

body {
  background-color: white;
  text-align:center;
}

