h1 {
    text-align:center;
    background-color: white;
}
h3{
    font-style: oblique;
    background-color: white;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: pink;
}
.imagem1 {
    width: 40%;

    }
.imagemcentralizada {
 text-align: center;
}

}
.unicornio {
    background-color: forestgreen

}
.brilho {
   color: aqua;
}

}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
        color: fuchsia;
        padding: 5%;
        border-color: pink;
        border-width: 20px;
        border-style: solid;
        border-radius: 12px 50px 2px 120px;
