h1 {
    text-align:center;
}    
h2{
    text-align:center;
    color: hotpink;
}
h3{
    text-align:center;
    color: hotpink;
}
h4 {
    text-align:center;
    color: hotpink;
}

p {
    text-align:center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: #FFC0CB;
}
.imagem1 {
    width: 40%;

    }
.imagemcentralizada {
 text-align: center;
}

}
.estrela {
    background-color: pink

}
.brilho {
   color: purple;
}

}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
        color: fuchsia;
        padding: 5%;
        border-color: pink;
        border-width: 20px;
        border-style: solid;
        border-radius: 12px 50px 2px 120px;

nav a{
    text-transform: uppercase;
    text-align: center;
    color: darkorchid;
    font-weight: 200;
    font-size: 150%;
    text-decoration: none ;
    border-color: white;
    border-width: 10px;
    border-style: solid; 
    backgound-color: white;
}
